// _base.scss
$font-system-ui: -apple-system, BlinkMacSystemFont;
$font-known-system-ui: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
$font-fallback: 'Helvetica Neue', sans-serif;

$font-stack: $font-system-ui, $font-known-system-ui, $font-fallback;

$primary-color:    #00E99F;
$foreground-color: #FAFAFA;
$background-color: #1C1E1F;

$background-image-url: url('/src/assets/backgrounds/abstract-sharp-like-knife-5k-cn.jpg');

body {
    font-family: $font-stack;
    background-image: $background-image-url;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}