// Portfolio.scss
@use '../global';

.portfolio {
    &__timeline {
        position: relative;
        margin-left: 4em; // TODO: Fix with em

        // Timeline footer indicator
        & > .entry__period > .entry__indicator {
            top: calc(-2em - 7px);
            right: -32px;
            background-color: #404040; // Fix
        }
    }

    &__border {
        display: block;
        position: absolute;
        top: 10px;
        width: 100%;
        height: calc(100% - 10px);
        border-left: 1px solid rgba(146, 146, 146, 0.25);
        border-bottom: 1px solid rgba(146, 146, 146, 0.25);
    }
}

.entry {
    position: relative;
    margin-left: 32px;
    margin-right: 32px;

    // Header
    &__header {

    }

    &__title {
        margin: 0;
        padding-bottom: 0.2em;
        line-height: 1.4rem;
        color: global.$primary-color;
    }

    &__subtitle {
        margin: 0;
    }

    // Body
    &__body {
        & > ul {
            padding-left: 1.5em;
            list-style: none; /* Remove default bullets */
        }

        & > ul li {
            padding: 0.2em 0;
        }

        & > ul li::before {
            content: "\25AA";
            color: global.$primary-color;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        &--img {
            max-width: 48%;
        }
    }

    // Footer
    &__footer {
        margin-top: 2em;
        user-select: none;

        & h3 {
            text-transform: uppercase;
            color: global.$primary-color;
        }
    }

    /*
    $sky-blue:         #00D4FF;
    $ocean-blue:       #0055FF;
    $purply-blue:      #2A00FF;
    $purple:           #AA00FF;
    $pink:             #FF00D4;
    $vibrant-pink:     #FF0054;
    $red:              #FF001D;
    $orange:           #FF2A00;
    $light-orange:     #FFAA00;
    $yellow:           #FFFF00;
    $green:            #16C934;
    */

    // Footer - Tool
    &__tool {
        margin: 0 0.6em 0 0;
        padding: 0.4em 0.6em;
        display: inline-block;
        letter-spacing: 0.025em;
        color: global.$primary-color;
        border: 1px solid global.$primary-color;

        // Sky Blue
        &--sky-blue {
            color: global.$sky-blue;
            border-color: global.$sky-blue;
        }

        // Purple
        &--purple {
            color: global.$purple;
            border-color: global.$purple;
        }

        // Pink
        &--pink {
            color: global.$pink;
            border-color: global.$pink;
        }

        // Vibrant Pink
        &--vibrant-pink {
            color: global.$vibrant-pink;
            border-color: global.$vibrant-pink;
        }

        // Red
        &--red {
            color: global.$red;
            border-color: global.$red;
        }

        // Orange
        &--orange {
            color: global.$orange;
            border-color: global.$orange;
        }

        // Light Orange
        &--light-orange {
            color: global.$light-orange;
            border-color: global.$light-orange;
        }

        // Yellow
        &--yellow {
            color: global.$yellow;
            border-color: global.$yellow;
        }

        // Green
        &--green {
            color: global.$green;
            border-color: global.$green;
        }
    }

    // Footer - Link
    &__link {
        margin: 0 0 0 0.6em;
        padding: 0.4em 0.6em;
        float: right;
        border: 1px solid global.$grey;
        letter-spacing: 0.025em;
        color: global.$grey;
        transition: all 80ms;

        &::after {
            content: ' 🞂';
        }

        &:hover {
            color: global.$foreground-color;
            background-color: global.$grey;
        }

        // Sky Blue
        &--sky-blue {
            color: global.$sky-blue;
            border-color: global.$sky-blue;
        }

        &--sky-blue:hover {
            background-color: global.$sky-blue;
        }

        // Purple
        &--purple {
            color: global.$purple;
            border-color: global.$purple;
        }

        &--purple:hover {
            background-color: global.$purple;
        }

        // Pink
        &--pink {
            color: global.$pink;
            border-color: global.$pink;
        }

        &--pink:hover {
            background-color: global.$pink;
        }

        // Vibrant Pink
        &--vibrant-pink {
            color: global.$vibrant-pink;
            border-color: global.$vibrant-pink;
        }

        &--vibrant-pink:hover {
            background-color: global.$vibrant-pink;
        }

        // Red
        &--red {
            color: global.$red;
            border-color: global.$red;
        }

        &--red:hover {
            background-color: global.$red;
        }

        // Orange
        &--orange {
            color: global.$orange;
            border-color: global.$orange;
        }

        &--orange:hover {
            background-color: global.$orange;
        }

        // Light Orange
        &--light-orange {
            color: global.$light-orange;
            border-color: global.$light-orange;
        }

        &--light-orange:hover {
            background-color: global.$light-orange;
        }

        // Yellow
        &--yellow {
            color: global.$yellow;
            border-color: global.$yellow;
        }

        &--yellow:hover {
            color: global.$background-color;
            background-color: global.$yellow;
        }

        // Green
        &--green {
            color: global.$green;
            border-color: global.$green;
        }

        &--green:hover {
            background-color: global.$green;
        }
    }

    // Image
    &__image {
        position: absolute;
        top: 4px;
        right: 0;
        max-width: 48%;
        max-width: calc(50% - 32px);
        max-height: 100%;
    }

    // Timeline date indicator
    &__period {
        position: absolute;
        width: 100px;
        margin-left: -128px;
        margin-top: 4px;
        text-align: right;

        /*
        &:last-of-type > .entry__indicator {
            top: calc(-1.6em - 8px);
            right: -32px;
            background-color: #404040; // Fix
        }
        */
    }

    &__range {
        margin: 0;
        padding-right: 16px;
        line-height: 0.8rem;
        font-size: 0.9rem;
        font-style: italic;
        color: #929292;
        opacity: 0.8;
    }

    &__indicator {
        position: absolute;
        display: block;
        top: calc(0.5em - 3.5px);
        right: 0px;
        width: 7px;
        height: 7px;
        background-color: global.$primary-color;
    }

    // Seperator
    &__seperator {
        display: block;
        width: 100%;
        margin: 2em auto;
        border-bottom: 0.01em solid rgba(146, 146, 146, 0.15); // Fix with proper color in _global
    }
}