// Sidebar.scss
@use '../global';


.sidebar {
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 25%;
    background-color: transparentize(global.$primary-color, 0.6);
    text-transform: uppercase;

    // Wrapper
    &--inner {
        position: relative;
        height: 100%;
        padding: 48px 40px;
    }
    
    // Header
    &__header {
        text-align: center;
    }

    &__avatar {
        width: 160px; // TODO: Find larger profile image and do not resize
        height: 160px; // ^
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }

    &__name {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: initial;
    }

    &__title {
        margin-top: 0;
        font-size: 1rem;
        font-weight: initial;
    }

    // Navigation
    &__navigation {
        margin: 4em 0 4em 0;
        padding: 0;
        text-align: left;
        list-style-type: none;

        li:hover .sidebar__button:after {
            content: ' 🞂';
        }
    }

    &__button {
        display: block;
        width: 50%;
        padding: 0.4rem 0;
        text-align: left;
        cursor: pointer;
        opacity: 0.8;

        &--small {
            font-size: 0.8rem;
            padding-bottom: 0.6rem;
        }

        &--contact {
            width: 1em;
            height: 1em;
            padding: 0;
            background-size: 1em 1em;
        }

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: 0;
        }
    }

    // Contact
    &__contact {
        //opacity: 0.8;
    }

    &__label {
        display: block;
        font-size: 0.8rem;
        padding-bottom: 0.4rem;
        cursor: default;
        opacity: 0.8;
    }

    &__icons {
        margin: 0 0 0 -0.2em;
        padding: 0;
        list-style-type: none;

        & > li {
            display: inline-block;
            margin-right: 0.4em;
            padding: 0.2em;
        }
    }
}

@media (max-width: 1096px) {
    .sidebar {
        width: 100%;
        height: 5em;
        position: unset;
    
        &--inner {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
        }

        &__header {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-grow: 1;
            text-align: left;
        }
    
        &__avatar {
            width: 4em;
            height: 4em;
            margin: 0.5em 1em 0.5em 0.5em;
        }

        &__name {
            margin: 0;
            padding-top: 0.8em;
            font-size: 1.2rem;
        }

        &__title {
            margin: 0;
            font-size: 0.8rem;
        }

        // Navigation
        &__navigation {
            display: flex;
            flex-grow: 1;
            margin: unset;
            justify-content: flex-end;
            align-items: center;

            & > li {
                height: fit-content;
            }

            li:hover .sidebar__button:after {
                content: unset;
            }
        }

        &__button {
            width: fit-content;
            padding: 0;
            padding-right: 1em;
        }

        &__contact {
            display: none;
        }
    }
}

